extends ../layout.pug

block content
    h1= club[2]
    p= club[6] + " members, " + club[4] + " comments in " + club[5] + " discussions."
    p= club[3]

    - var requestvals = '{"club_id":' + club[0] + '}'

    button(type="button" hx-get="/api/clubs/subscriptionstatus" hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-vals=requestvals)

    h2 Discussions

    a(href="/clubs/dcreate/" + club[0])
        button(style="width: fit-content") Create a new Discussion

    for discussion in discussions
        table(style="margin-top: 10px")
            thead
                tr
                    th
                        a(href="/clubs/" + club[0] + "/" + discussion[0])= discussion[4]
                    th(align="right")= discussion[3]
            tbody
                tr
                    td= "Posted " + discussion[1]
