extends ../layout.pug

block content
    case type
        when 0
            p ID #{book[0]}
            h1= book[1]
            p #{book[2] + (book[3] ? (", " + book[3]) : '')}
            p #{book[6] ? book[6] : "This book doesn't have a description."}
        when 1
            p ID #{film[0]}
            h1= film[1]
            p #{film[2] + (film[5] ? (", " + film[5] + " minutes") : '')}
            p #{film[4]}

        when 400
            h1 Unknown
            p The media could not be found.
            
    - var requestvals = '{"mediaid":' + id + ', "mediatype":' + type + '}'

    mixin comment_form
        form(
            hx-swap="outerHTML" 
            hx-target="this" 
            hx-post="/api/media/submit"
            )
            input(
              name="media_id"
              value= id 
              type="hidden"
              )
            input(
                name="media_type"
                value= type
                type="hidden"
            )
            .form-group
            textarea(
                name="comment"
                placeholder="Write your thoughts here."
                cols="60"
                rows="8"
                )
            .form-group
            input(
              max="5" 
              min="1" 
              name="rating" 
              type="range"
              oninput="this.nextElementSibling.value = this.value"
              )
            output
            br
            input(
            value="Submit" 
            type="submit"
            )

    h2 Discussion

    div
    if user
        +comment_form
    else
        p You have to be logged in to comment.
        

    div.comment_wrapper(hx-trigger="load" hx-post="/api/media/comments" hx-target="#comments" hx-vals=requestvals hx-swap="outerHTML")
        div#comments
